/out/production/Github-repos/areaofcircle.class
/out/production/Github-repos/avgof3.class
/out/production/Github-repos/dayofweeks.class
/out/production/Github-repos/gstadd.class
/out/production/Github-repos/hello.class
/out/production/Github-repos/ifstatement.class
/out/production/Github-repos/incometaxcal.class
/out/production/Github-repos/inputs.class
/out/production/Github-repos/largestof2.class
/out/production/Github-repos/leapyear.class
/out/production/Github-repos/maxvalues.class
/out/production/Github-repos/outputformatter.class
/out/production/Github-repos/posorneg.class
/out/production/Github-repos/printingstarlame.class
/out/production/Github-repos/printsumofn.class
/out/production/Github-repos/printtilln.class
/out/production/Github-repos/randomshits.class
/out/production/Github-repos/reversenum.class
/out/production/Github-repos/reversenum2.class
/out/production/Github-repos/sumof2.class
/out/production/Github-repos/switchcase.class
/out/production/Github-repos/ternaryoperator.class
